<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANsb5YJto0hSg_EuhBpk1Wrlb_nxN2iIY</string>
	<key>GCM_SENDER_ID</key>
	<string>716441733662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andrewnielson.blendr</string>
	<key>PROJECT_ID</key>
	<string>blend-ddae3</string>
	<key>STORAGE_BUCKET</key>
	<string>blend-ddae3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716441733662:ios:207d272c7b7f2d72a7bc0f</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-9674877606882962~9790383936</string>
</dict>
</plist>